.transactionContainer {
    border-bottom: 1px solid var(--theme-accent-border);
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0.25rem;
    justify-content: flex-end;
    align-items: center;
}

.halfContainer {
    max-width: 50%;
    flex-basis: 50%;
}

.dateContainer {
    font-weight: var(--fw-extra-light);
    font-size: var(--header-text-28);
}

.moneyInputLabel {
    font-weight: var(--fw-semi-bold);
    color: var(--theme-light-text-color);
    display: block;
    font-size: var(--body-text-14);
    padding-bottom: 0.5rem;
}

.moneyInputContainer {
    position: relative;
    height: 2rem;
}

.moneyInput {
    border: none;
    border-bottom: 1px solid var(--theme-light-border-blue-accent);
    width: 100%;
    display: block;
    text-align: right;
    font-size: var(--header-text-18);
    background-color: inherit;
    position: absolute;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
}

.editIcon {
    position: absolute;
    top: 1px;
    height: 2rem;
    font-size: 18px;
    vertical-align: center;
    padding: 0.5rem 0;
    left: 0.5rem;
    color: var(--theme-light-text-color);
    user-select: none;
}

.confirmButton {
    max-width: 50%;
    flex-basis: 50%;
    justify-self: flex-end;
    background-color: var(--theme-jungle-green-dark);
    padding: 0.5rem 0;
    color: var(--theme-bright-text-color);
    margin-top: 1rem;
    animation: slidein 0.5s;
}

@keyframes slidein {
    from {
      transform: translatey(-1rem);
      opacity: 0;
    }
  
    to {
      transform: translateY(0%);
      opacity: 1;
    }
}

.newTransactionButton {
    padding: 1rem;
    background-color: var(--theme-darker-background);
    width: 100%;
    text-align: center;
    color: var(--theme-light-text-color);
    font-size: var(--body-text-14);
}

.additionIcon {
    vertical-align: middle;
    margin-right: 0.5rem;
}