:root {
    /* ------------------- PRIMITIVES ------------------- */
    /* Neutral Colors */
    --theme-color-neutral-100: #465053;
    --theme-color-neutral-200: #64767d;
    --theme-color-neutral-300: #778e97;
    --theme-color-neutral-400: #a6b8bf;
    --theme-color-neutral-500: #c3d4da;
    --theme-color-neutral-600: #d4e2e8;
    --theme-color-neutral-700: #e2eef3;
    --theme-color-neutral-800: #f0f7f9;
    --theme-color-neutral-900: #f8fbfc;
    --theme-color-neutral-black: #333333;
    --theme-color-neutral-white: #ffffff;

    /* Primary Colors */
    --theme-color-primary-100: #24322e;
    --theme-color-primary-200: #34554b;
    --theme-color-primary-300: #3d7664;
    --theme-color-primary-400: #419b80;
    --theme-color-primary-500: #43a875;
    --theme-color-primary-600: #4ec68a;
    --theme-color-primary-700: #67daa1;
    --theme-color-primary-800: #b6f6e3;
    --theme-color-primary-900: #d4fcf0;

    /* Secondary Colors */
    --theme-color-secondary-100: #1a2f38;
    --theme-color-secondary-200: #204555;
    --theme-color-secondary-300: #255d74;
    --theme-color-secondary-400: #277596;
    --theme-color-secondary-500: #268fba;
    --theme-color-secondary-600: #35addf;
    --theme-color-secondary-700: #71caef;
    --theme-color-secondary-800: #a0def8;
    --theme-color-secondary-900: #d1f1ff;

    /* Tertiary Colors */
    --theme-color-tertiary-100: #3b1c20;
    --theme-color-tertiary-200: #5b252c;
    --theme-color-tertiary-300: #7e2a35;
    --theme-color-tertiary-400: #bf1239;
    --theme-color-tertiary-500: #ed0c3f;
    --theme-color-tertiary-600: #fa3360;
    --theme-color-tertiary-700: #fd5d82;
    --theme-color-tertiary-800: #ffadc0;
    --theme-color-tertiary-900: #ffe5eb;

    /* Spend Category Colors */
    --theme-color-spend-category-AIRFARE: #50ce6d;
    --theme-color-spend-category-BUSINESS: #ae9209;
    --theme-color-spend-category-CANNABIS: #4c8d1b;
    --theme-color-spend-category-CLOTHING: #cebe79;
    --theme-color-spend-category-DRINKS: #5948bc;
    --theme-color-spend-category-EDUCATION: #48bcb0;
    --theme-color-spend-category-ENTERTAINMENT: #de2682;
    --theme-color-spend-category-FITNESS: #333333;
    --theme-color-spend-category-FUEL: #b77b43;
    --theme-color-spend-category-GAMES: #4884bc;
    --theme-color-spend-category-GIFTS: #b191ff;
    --theme-color-spend-category-GROCERIES: #82aa46;
    --theme-color-spend-category-GROOMING: #972acf;
    --theme-color-spend-category-HEALTH: #a30015;
    --theme-color-spend-category-HOBBY: #df81c1;
    --theme-color-spend-category-HOUSING: #99c8fa;
    --theme-color-spend-category-INSURANCE: #bc4848;
    --theme-color-spend-category-MATERIAL_ITEMS: #f20d2b;
    --theme-color-spend-category-OTHER: #776871;
    --theme-color-spend-category-PETS: #888d53;
    --theme-color-spend-category-RESTAURANTS: #ff8442;
    --theme-color-spend-category-TAXES: #f15f62;
    --theme-color-spend-category-TRANSPORTATION: #f0c808;
    --theme-color-spend-category-TREATS: #f1b7df;
    --theme-color-spend-category-UTILITIES: #2ba1d4;
    --theme-color-spend-category-VEHICLE: #fc440f;

    /* Account Category Colors */
    --theme-color-account-category-BONDS: #e87217;
    --theme-color-account-category-CHECKING: #4884bc;
    --theme-color-account-category-INVESTING: #84b63a;
    --theme-color-account-category-SAVINGS: #f20d2b;

    /* ------------------- TOKENS ------------------- */
    /* Background Colors */
    --token-color-background-primary: var(--theme-color-neutral-900);
    --token-color-background-secondary: var(--theme-color-neutral-800);

    /* Category Colors */
    --token-color-category-icon: var(--theme-color-neutral-white);

    /* Border Colors */
    --token-color-border-tertiary: var(--theme-color-neutral-700);
    --token-color-background-light: var(--theme-color-neutral-900);

    /* Semantic colors */
    --token-color-semantic-gain: var(--theme-color-primary-500);
    --token-color-semantic-loss: var(--theme-color-tertiary-600);
    --token-selected-primary: var(--theme-color-primary-700);

    /* Button Colors */
    --token-disable-button-background: var(--theme-color-neutral-400);

    --token-button-primary-color: var(--theme-color-primary-500);
    --token-button-primary-hover-color: var(--theme-color-primary-400);

    --token-button-secondary-color: var(--theme-color-secondary-500);
    --token-button-secondary-hover-color: var(--theme-color-secondary-400);

    --token-button-tertiary-color: var(--theme-color-tertiary-500);
    --token-button-tertiary-hover-color: var(--theme-color-tertiary-400);

    /* Text Colors */
    --token-color-text-standard: var(--theme-color-neutral-100);
    --token-color-text-subdued: var(--theme-color-neutral-300);

    --token-navigation-color: var(--theme-color-neutral-100);
    --token-navigation-selected: var(--theme-color-primary-600);
}
