:root {
    --theme-content-background: #FFFFFF;
    --theme-soft-background: #F7FAFC;
    --theme-darker-background: #ecf4f9;
    --theme-strong-background: #FFFFFF;

    --theme-money-gain: #08DC67;
    --theme-money-loss: #FF2F5E;

    --theme-success: #76B041;
    --theme-failure: #DF2935;

    --theme-link-blue: #0694db;

    /* Text colors */
    --theme-standard-text: #333333;
    --theme-placeholder-text: #BFC6C7;
    --theme-bright-text-color: #FFFFFF;
    --theme-light-text-color: #777777;
    --theme-subdued-text-color: #555555;
    --theme-faint-text-color: #656565;

    /* Border colors */
    --theme-light-border-blue-accent: #A9C0C1;
    --theme-accent-border: #BFC6C7;
    --theme-light-border: #EEEEEE;
    --theme-heavy-border: #555555;

    --theme-toggle-inactive: #EEEEEE;
    --theme-tab-inactive: #CFCFCF;

    --theme-disabled-button: #A7A7A7;

    /* Main Theme Colors */
    --theme-red: #f94144;
    --theme-pink: #EEAAD9;
    --theme-orange: #f3722c;
    --theme-yellow-orange: #f8961e;
    --theme-mango: #f9844a;
    --theme-maize-crayola: #f9c74f;
    --theme-pistachio: #90be6d;
    --theme-jungle-green: #43aa8b;
    --theme-steel-teal: #4d908e;
    --theme-queen-blue: #577590;
    --theme-celadon-blue: #277da1;

    /* Pale Version of Main Theme Colors */
    --theme-red-pale: #fa5659;
    --theme-orange-pale: #f47f40;
    --theme-yellow-pale: #f9a137;
    --theme-mango-pale: #fa8f5a;
    --theme-maize-crayola-pale: #f9cb60;
    --theme-pistachio-pale: #9cc57d;
    --theme-jungle-green-pale: #4eb898;
    --theme-steel-teal-pale: #57a19f;
    --theme-queen-blue-pale: #6183a0;
    --theme-celadon-blue-pale: #2d8fb9;
    --theme-pale-pink: #F5CCE8;

    /* Darker Version of Main Theme Colors */
    --theme-red-dark: #db344a;
    --theme-orange-dark: #d15b30;
    --theme-yellow-dark: #d47e28;
    --theme-mango-dark: #db6c47;
    --theme-maize-crayola-dark: #dbab4a;
    --theme-pistachio-dark: #7fa867;
    --theme-jungle-green-dark: #41897b;
    --theme-steel-teal-dark: #49797c;
    --theme-queen-blue-dark: #50667f;
    --theme-celadon-blue-dark: #28658b;
    --theme-dark-pink: #E477C1;
}