@font-face {
    font-family: 'Inter';
    font-display: swap;
    src: local('Inter'), url(../Fonts/Inter.ttf) format('truetype');
    /* font weight allows for the variable weight provided by Inter font */
    font-weight: 1 999;
}

/* FONT SIZING AS VARIABLES */
:root {
    /* Font Weights */
    --fw-thin: 100;
    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-extra-bold: 800;
    --fw-black: 900;

    --body-text-12: 12px;
    --body-text-12-line-height: 16px;

    --body-text-14: 14px;
    --body-text-14-line-height: 20px;

    --body-text-16: 16px;
    --body-text-16-line-height: 24px;

    --header-text-18: 18px;
    --header-text-18-line-height: 28px;

    --header-text-24: 24px;
    --header-text-24-line-height: 28px;

    --header-text-28: 28px;
    --header-text-28-line-height: 36px;

    --header-text-32: 32px;
    --header-text-32-line-height: 46px;

    --title-text-40: 40px;
    --title-text-40-line-height: 52px;

    --title-text-48: 48px;
    --title-text-48-line-height: 72px;

    --title-text-64: 64px;
    --title-text-64-line-height: 88px;
}

/* FONT SIZING */
.reduced-body-text {
    font-size: var(--body-text-12);
    line-height: var(--body-text-12-line-height);
}

.body-text {
    font-size: var(--body-text-14);
    line-height: var(--body-text-14-line-height);
}

.enlarged-body-text {
    font-size: var(--body-text-16);
    line-height: var(--body-text-16-line-height);
}

.small-header-text {
    font-size: var(--header-text-18);
    line-height: var(--header-text-18-line-height);
}

.header-text {
    font-size: var(--header-text-24);
    line-height: var(--header-text-24-line-height);
    font-weight: var(--fw-medium);
}

.large-header-text {
    font-size: var(--header-text-28);
    line-height: var(--header-text-28-line-height);
}

.extra-large-header-text {
    font-size: var(--header-text-32);
    line-height: var(--header-text-32-line-height);
}

.small-title-text {
    font-size: var(--title-text-40);
    line-height: var(--title-text-40-line-height);
}

.title-text {
    font-size: var(--title-text-48);
    line-height: var(--title-text-48-line-height);
}

.large-title-text {
    font-size: var(--title-text-64);
    line-height: var(--title-text-64-line-height);
}