.banner {
    position: sticky;
    top: 0;
    background-color: var(--theme-strong-background);
    border-bottom: 1px solid var(--theme-light-border);
    padding: 0.5rem 0;
    box-shadow: 0 3px 10px rgba(223, 223, 223, 0.2);
    min-width: var(--min-supported-width);
}

.backArrow {
    font-size: 1.5rem;
    position: absolute;
    left: 0.4rem;
    top: 0.32rem;
}

.backArrow:hover {
    cursor: pointer;
}

.titleText {
    width: 100%;
    text-align: center;
    font-weight: var(--fw-extra-light);
    font-size: var(--body-text-16);
}