.container {
    padding: 1.5rem 1.5rem 0;
}
.heading {
    font-size: var(--body-text-16);
    font-weight: var(--fw-regular);
}

.dateText {
    font-size: var(--title-text-48);
    font-weight: var(--fw-medium);
    color: var(--theme-red);
    letter-spacing: 5px;
    margin-top: 0.25rem;
}

.actionCallText {
    font-size: var(--body-text-12);
    font-weight: var(--fw-light);
    margin-top: 0.25rem;
}