.alertContainer {
    display: inline-block;
    font-size: var(--body-text-14);
    line-height: 26px;
}

.alertIcon {
    display: inline-block;
    padding-right: 0.5rem;
    font-size: var(--body-text-16);
    vertical-align: top;
}

.baseContainer {
    font-size: var(--body-text-14);
}

.baseIcon {
    font-size: var(--body-text-16);
}

.smallContainer {
    font-size: var(--body-text-12);
}

.smallIcon {
    font-size: var(--body-text-14);
}