.label {
    font-weight: var(--fw-semi-bold);
    color: var(--theme-light-text-color);
    display: block;
    font-size: var(--body-text-14);
    padding-bottom: 0.5rem;
}

.tabBarContainer {
    margin-bottom: 1.5rem;
}

.datePickerBox {
    display: flex;
    justify-content: center;
}

.optionMessage {
    font-size: var(--body-text-16);
    color: var(--theme-subdued-text-color);
    text-align: center;
    padding: 1.5rem 0.75rem;
}