.container {
    display: flex;
    align-items: center;
    width: 100%;
}

.iconContainer {
    margin-right: 10px;
}

.detailsContainer {
    flex-basis: 70%;
    min-width: 0;
    text-align: left;
}

.category {
    font-size: var(--body-text-16);
    color: #333;
    font-weight: var(--fw-medium);
}

.description {
    color: #3B3A39;
    font-size: var(--body-text-12);
    font-weight: var(--fw-light);
    padding-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.valuesContainer {
    text-align: right;
    margin: 0 0.4rem;
    flex-basis: 30%;
}

.amount {
    font-size: var(--body-text-16);
    font-weight: var(--fw-semi-bold);
}

.expense {
    color: var(--theme-money-loss);
}

.date {
    color: #3B3A39;
    font-size: var(--body-text-12);
    font-weight: var(--fw-light);
    padding-top: 4px;
}

.chevron {
    font-size: 1.5rem;
    text-align: right;
    flex-shrink: 0;
}