.balanceUpdateForm > label {
    font-weight: var(--fw-semi-bold);
    color: var(--theme-light-text-color);
    display: block;
    font-size: var(--body-text-14);
}

.balanceUpdateForm > label > input::placeholder {
    color: var(--theme-placeholder-text);
}

.textInput {
    border: none;
    border-bottom: 1px solid var(--theme-light-border-blue-accent);
    width: 100%;
    display: block;
    text-align: center;
    font-size: var(--header-text-18);
    margin-bottom: 1.5rem;
}

.accountSummary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.iconContainer {
    flex-grow: 0;
    flex-shrink: 0;
}

.accountDetailsContainer {
    text-align: center;
}

.accountNameLabel {
    font-size: var(--header-text-18);
}

.accountValueLabel {
    font-size: var(--body-text-16);
    margin-top: 2px;
    color: var(--theme-subdued-text-color);
}

.asOfLabel {
    color: var(--theme-faint-text-color);
    font-size: 10px;
    margin-top: 4px;
}

.valueChange {
    margin: 1rem 0;
    text-align: center;
}