.dashboard {
    padding: 0px var(--page-side-padding);

    /* Shared tile designs */
    --dashboard-column-gap: 16px;
}

.spendingSectionTitle {
    font-size: var(--page-title-font-size);
    font-weight: var(--page-title-font-weight);
    margin-bottom: 24px;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;

    --section-min-width: 360px;
}

.leftSection {
    flex-grow: 1;
    flex-shrink: 0;
    min-width: var(--section-min-width);
    max-width: calc(100% - var(--section-min-width));
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.spendingGrid {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--dashboard-column-gap);
}

.rightSection {
    display: flex;
    flex-direction: column;
    gap: var(--dashboard-column-gap);
    flex-shrink: 1;
    flex-grow: 0;
    max-width: var(--section-min-width);
    padding-left: var(--dashboard-column-gap);
}

.summaryTile {
    flex-basis: calc(33% - var(--dashboard-column-gap));
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 200px;
    flex-wrap: wrap;
}

.topCategoriesTile {
    flex-basis: calc(66% - var(--dashboard-column-gap));
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 375px;
}

.logExpenseButton {
    padding: 16px;
}

/* Mobile screen size */
@media (max-width: 768px) {
    .contentContainer {
        gap: 24px;
    }

    .leftSection {
        max-width: 100%;
    }

    .rightSection {
        max-width: 100%;
        padding-left: 0;
    }

    .summaryTile {
        flex-basis: 100%;
    }

    .topCategoriesTile {
        flex-basis: 100%;
    }
}
