.dashboard {
    padding: 0px var(--page-side-padding);

    /* Shared tile designs */
    --tile-background: var(--token-color-background-primary);
    --tile-border-radius: 12px;
    --tile-padding: 16px;
    --dashboard-column-gap: 24px;
}

.spendingSectionTitle {
    font-size: var(--font-heading-large);
    font-weight: var(--font-weight-medium);
    margin-bottom: 24px;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;

    --section-min-width: 360px;
}

.leftSection {
    flex-grow: 1;
    min-width: var(--section-min-width);
    /* -24px for gap */
    max-width: calc(100% - var(--section-min-width));
    display: flex;
    flex-wrap: wrap;
}

.spendingGrid {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--dashboard-column-gap);
}

.rightSection {
    min-width: var(--section-min-width);
    flex-shrink: 1;
    flex-grow: 0;
    padding-left: var(--dashboard-column-gap);
}

.summaryTile {
    flex-basis: calc(33% - var(--dashboard-column-gap));
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 200px;
    flex-wrap: wrap;
    background-color: var(--tile-background);
    border-radius: var(--tile-border-radius);
    padding: var(--tile-padding);
}

.summaryTile > h3 {
    font-size: var(--font-body-large);
    margin-bottom: 16px;
}

.expenseButton {
    background-color: var(--token-button-tertiary-color);
}

.expenseButton:hover {
    background-color: var(--token-button-tertiary-hover-color);
}
