.container {
    display: flex;
    gap: 16px;
    width: 100%;
    justify-content: space-between;
    max-width: 220px;
}

.timeFrameButton {
    font-size: var(--font-body-medium);
    font-weight: var(--font-weight-semi-bold);
}

.yearLabel {
    letter-spacing: 8px;
}

.arrowButton {
    font-size: 20px;
    min-width: 20px;
}
