.buttonContainer {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.button {
    display: flex;
    align-items: center;
    color: var(--theme-subdued-text-color);
    background-color: var(--theme-content-background);
    padding: 0.5rem 0.75rem;
    flex-basis: 100%;
    font-size: var(--body-text-14);
    transition-duration: 0.2s;
}

.button:hover {
    filter: brightness(0.95);
}

.buttonLeft {
    border-radius: 12px 0 0 12px;
}

.buttonRight {
    border-radius: 0 12px 12px 0;
    justify-content: flex-end;
}

.inactive {
    filter: brightness(0.9);
}

.inactive:hover {
    filter: brightness(0.9)
}