.totalsPill {
    padding: 12px 18px;
    display: flex;
    flex-wrap: nowrap;
    color: var(--theme-bright-text-color);
    font-size: var(--body-text-16);
    align-items: center;
    border-radius: 32px;
    margin-top: 12px;
    font-weight: var(--fw-semi-bold);
    text-decoration: none;
    width: 100%;
    overflow: hidden;
    opacity: 1;
    transition-duration: 0.3s;
}

.totalsPill:hover {
    filter: brightness(0.9);
}

.fadeInAnimation {
    animation: reveal 1s;
}

@keyframes reveal {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.totalsPill:hover {
    cursor: pointer;
}

.icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}

.categoryName {
    flex-grow: 1;
    text-align: left;
}

.amount {
    flex-grow: 0;
}

.showAllLink {
    margin: 1rem auto 0;
}

.label {
    font-size: 18px;
    font-weight: var(--fw-medium);
}