.title {
    padding: 2rem 0 1rem;
    margin: 0;
}

.transactionWrapper {
    padding-bottom: 0.75rem;
}

.dateLabel {
    padding-bottom: 0.5rem;
    font-size: 10px;
    font-weight: var(--fw-light);
    color: var(--theme-subdued-text-color);
    margin: 0;
}

.linkContainer {
    padding-top: 4px;
    font-size: var(--body-text-font-size);
}

.issueMessage {
    font-size: var(--body-text-font-size);
    color: var(--theme-subdued-text-color);
    padding-bottom: 1rem;
}