.recentTransactionsContainer {
    width: 100%;
    flex-basis: 100%
}

@media (min-width: 768px) {
    .recentTransactionsContainer {
        flex-basis: 33%;
        justify-self: center;
        padding: 1rem;
        flex-grow: 1;
    }
}

.title {
    padding: 2rem 0 1rem;
    margin: 0;
}

.linkContainer {
    padding-top: 4px;
    font-size: var(--body-text-14);
}

.issueMessage {
    font-size: var(--body-text-14);
    color: var(--theme-subdued-text-color);
    padding-bottom: 1rem;
}