.transactionsContainer {
    margin: 1.5rem 0;
    min-width: var(--min-supported-width);
    height: 100%;
}

.horizontalPadding {
    padding: 0 1.5rem;
}

.verticalSpacing {
    margin-top: 2rem;
    height: 100%;
}

.countLabel {
    padding-bottom: 0.25rem;
    border-bottom: 1px solid var(--theme-accent-border);
    font-size: var(--body-text-14);
    color: var(--theme-subdued-text-color);
    font-weight: var(--fw-light);
}

.categoryFilter {
    border: 1px solid var(--theme-accent-border);
}

.transactionsLabel {
    font-size: var(--header-text-18);
    color: var(--theme-standard-text);
    font-weight: var(--fw-regular);
    margin-top: 2rem;
    padding: 1rem 1.5rem 0 1.5rem;
    border-top: 2px solid var(--theme-celadon-blue);
}

.transactionsListContainer {
    height: 100%;
    padding: 1rem 1.5rem 0;
}

@media (min-width: 768px) {
    .transactionsListContainer {
        padding-top: 1rem;
        overflow-y: scroll;
    }
}