.contentContainer {
    padding: 1.5rem 0;
    background-color: var(--theme-soft-background);
    min-height: 60vh;
}

.gutter {
    padding: 0 1.5rem;
}

.totalLabel {
    font-size: 18px;
    font-weight: var(--fw-medium);
}

.totalValue {
    margin-top: 12px;
    width: 100%;
    text-align: center;
    color: var(--theme-money-loss);
    font-size: var(--header-text-32);
    font-weight: var(--fw-light);
}

@media (min-width: 768px) {
    .contentContainer {
        min-height: 95vh;
    }
}