.contentContainer {
    padding: 1.5rem 1.5rem;
    background-color: var(--theme-soft-background);
    min-height: 60vh;
}


.totalLabel {
    font-size: 18px;
    font-weight: var(--fw-medium);
}

.totalValue {
    margin-top: 12px;
    width: 100%;
    text-align: center;
    color: var(--theme-money-loss);
    font-size: var(--header-text-32);
    font-weight: var(--fw-light);
}

.totalSpentContainer {
    max-width: 350px;
    padding-bottom: 1.5rem;
}

.topCategories {
    flex-basis: 100%;
    padding-bottom: 2rem;
}

.noTransactionsLabel {
    font-size: var(--body-text-14);
    color: var(--theme-subdued-text-color);
}

@media (min-width: 768px) {
    .totalSpentContainer {
        background-color: var(--theme-content-background);
        padding: 1rem;
        border-radius: 12px;
        border: 1px solid var(--theme-light-border);
    }

    .contentContainer {
        min-height: 95vh;
    }
}