.transactionForm {
    --space-between-form-items: 32px;
}

.transactionForm > label {
    font-weight: var(--fw-semi-bold);
    color: var(--theme-light-text-color);
    display: block;
    font-size: var(--body-text-14);
    padding-bottom: 0.5rem;
}

.transactionForm > label > input::placeholder {
    color: var(--token-color-text-placeholder);
}

.textInput {
    border: none;
    border-bottom: 1px solid var(--token-color-border-secondary);
    width: 100%;
    display: block;
    text-align: center;
    font-size: var(--header-text-18);
    background-color: var(--token-color-background-primary);
    margin-bottom: var(--space-between-form-items) !important;
}

.deleteLink {
    color: var(--theme-red) !important;
    margin: 1.5rem auto 0;
    text-align: center;
}

.alertContainer {
    padding-bottom: 1.5rem;
}

.noTripMessage {
    padding: 0.25rem 0;
    color: var(--theme-subdued-text-color);
    font-size: var(--body-text-14);
    font-weight: var(--fw-light);
}
