.gutter {
    padding: 0 1.5rem;
    min-width: var(--min-supported-width);
}

.mobileDateManager {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.tabContainer {
    margin-top: 1rem;
}

.dateContextShifterContainer {
    padding: 1.5rem 1.5rem 0;
}

.desktopSideBar {
    width: var(--min-supported-width);
    position: fixed;
    top: 2rem;
    height: 100%;
    left: 0;
    overflow-y: auto;
    border-right: 2px solid var(--theme-light-border);
}

.desktopSummaryContainer {
    width: calc(100% - var(--min-supported-width));
    margin-left: var(--min-supported-width);
}

.desktopDateManager {
    border-bottom: 2px solid var(--theme-celadon-blue);
    padding-bottom: 2rem;
    padding-top: 1.25rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--theme-content-background);
    padding-bottom: 0.5rem;
}

.softBackground {
    background-color: var(--theme-soft-background);
}