.gutter {
    padding: 0 1.5rem;
    margin-top: 1rem;
    min-width: var(--min-supported-width);
}

.transactionsContainer {
    padding: 0 1.5rem;
    margin: 2rem 0;
    min-width: var(--min-supported-width);
}

.tabContainer {
    margin-top: 2rem;
}