.container {
    background-color: var(--theme-soft-background);
    padding: 0 1.5rem 2rem;
    min-width: var(--min-supported-width);
    width: 100%;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
}

@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        padding: 0 1rem 2rem;
    }
}
