.label {
    font-weight: var(--fw-semi-bold);
    color: var(--theme-light-text-color);
    display: block;
    font-size: var(--body-text-14);
    padding-bottom: 0.5rem;
}

.tabContainer {
    display: flex;
    width: 100%;
}

.tab {
    filter: brightness(60%);
    transition-duration: 0.3s;
    flex-grow: 1;
    height: 2.5rem;
    text-align: center;
}

.tab.active {
    filter: none;
}

.tab:hover {
    filter: brightness(85%);
}