.navContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--token-color-background-primary);
    border-top: 1px solid var(--token-color-border-tertiary);
    isolation: isolate;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}
