.lockedBackground {
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(30, 30, 30, 0.65);
    animation: fadeIn;
    animation-duration: 0.3s;
}

@keyframes fadeIn {
    from {background-color: rgba(0.3, 0.3, 0.3, 0.0);}
    to {background-color: rgba(0.3, 0.3, 0.3, 0.65);}
}

.unlockedBackground {
    animation: fadeOutAnim;
    animation-duration: 0.3s;
    background-color: rgba(0.3, 0.3, 0.3, 0.0);
}

@keyframes fadeOutAnim {
    from {background-color: rgba(0.3, 0.3, 0.3, 0.65);}
    to {background-color: rgba(0.3, 0.3, 0.3, 0.0);}
}

.panelContainer {
    z-index: 999;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    animation: slideUp;
    animation-duration: 0.5s;
    min-width: var(--min-supported-width);
    max-width: 600px;
}

@keyframes slideUp {
    from {transform: translate(-50%, 100vh)}
    to {transform: translate(-50%, 0)}
}

.panelClosing {
    animation: slideDown;
    animation-duration: 0.5s;
    transform: translateY(100vh);
}

@keyframes slideDown {
    from {transform: translate(-50%, 0)}
    to {transform: translate(-50%, 100vh)}
}

.titleTag {
    color: #FFFFFF;
    display: inline-block;
    border-radius: 18px 18px 0 0;
    position: relative;
    /* This hides the title tag's bottom section */
    top: 1.5rem;
}

.title {
    font-size: var(--header-text-font-size);
    margin: 0;
    padding: 20px 1.5rem 40px;
    font-weight: var(--fw-light);
}

.panelContent {
    background-color: var(--theme-content-background);
    border-radius: 32px 32px 0 0;
    overflow-y: scroll;
    position: relative;
}

.scrollableArea {
    padding: 1.5rem;
    max-height: 70vh;
    overflow-y: scroll;
}

.buttonRow {
    background-color: var(--theme-content-background);
    border-top: 2px solid var(--theme-light-border);
    padding: 1rem;
    display: flex;
}

.buttons {
    height: 50px;
    flex-basis: 100%;
    border-radius: 0.75rem;
    color: #FFFFFF;
    font-weight: var(--fw-regular);
    font-size: var(--small-header-text-font-size);
    transition-duration: 0.1s;
}

.forwardActionButton {
    background-color: var(--theme-jungle-green-dark);
    margin-left: 1rem;
}

.disabledButton {
    background-color: var(--theme-disabled-button);
    margin-left: 1rem;
}

.disabledButton:hover {
    cursor: not-allowed;
}

.closeButton {
    background-color: var(--theme-queen-blue-dark);
}