.topDiscretionaryCategories {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.percentageBar {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 8px;
    border-radius: 16px;
}

.percentageBarGroup {
    display: inline-block;
    height: 100%;
}
