.tripForm > label {
    font-weight: var(--fw-semi-bold);
    color: var(--theme-light-text-color);
    display: block;
    font-size: var(--body-text-14);
    padding-bottom: 0.5rem;
}

.tripForm > label > input::placeholder {
    color: var(--token-color-text-placeholder);
}

.textInput {
    border: none;
    border-bottom: 1px solid var(--theme-light-border-blue-accent);
    width: 100%;
    display: block;
    text-align: center;
    font-size: var(--header-text-18);
    margin-bottom: 1.5rem;
}

.datePickerContainer {
    margin-bottom: 1.5rem;
}

.deleteLink {
    color: var(--theme-red) !important;
    margin: 1rem auto 0;
    text-align: center;
    padding-bottom: 2rem;
}

.dateCount {
    font-size: var(--header-text-18);
    color: var(--theme-standard-text);
    font-weight: var(--fw-light);
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}
