.transactionForm {
    --space-between-form-items: 40px;
}

.transactionForm > label {
    font-weight: var(--fw-semi-bold);
    color: var(--theme-light-text-color);
    display: block;
    font-size: var(--body-text-14);
    padding-bottom: 0.5rem;
}

.transactionForm > label > input::placeholder {
    color: var(--token-color-text-placeholder);
}

.textInput {
    border: none;
    border-bottom: 1px solid var(--token-color-border-secondary);
    width: 100%;
    display: block;
    text-align: center;
    font-size: var(--header-text-18);
    background-color: var(--token-color-background-primary);
    margin-bottom: var(--space-between-form-items) !important;
}

.alertContainer {
    padding-bottom: 1.5rem;
}

.spendCategoryOption {
    display: flex;
    column-gap: 8px;
    justify-content: flex-start;
    align-items: center;
}

.deleteLink {
    color: var(--token-color-semantic-danger) !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 80px auto 20px;
}
