.recurringSpending {
    padding: 0px var(--page-side-padding);
}

.pageTitle {
    margin-bottom: 24px;
    font-size: var(--font-heading-large);
    font-weight: var(--font-weight-medium);
}

.pageContainer {
    display: flex;
    gap: 24px;
}

.sideBarContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 1;
    flex-basis: 300px;
    min-width: 300px;
}

.createNewExpenseButton {
    padding: 16px;
}

.totalsWidget {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.totalsContainer {
    font-size: var(--font-body-large);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contentTitle {
    font-size: var(--font-heading-small);
    font-weight: var(--font-weight-medium);
    margin-bottom: 24px;
}

.transactionsContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;

    --recurring-transactions-column-gap: 24px;
    column-gap: var(--recurring-transactions-column-gap);
}

.cardContainer {
    flex: 1;
    min-width: max(340px, calc(50% - (var(--recurring-transactions-column-gap) / 2)));
}
