.container {
    background-color: var(--theme-soft-background);
    padding: 1.5rem 1.5rem 2rem;
    min-width: var(--min-supported-width);
    min-height: 100vh;
    width: 100%;
}

.totalContainer {
    padding-bottom: 1.5rem;
}

.alertContainer {
    padding-bottom: 1.5rem;
}